<% include ../includes/header.ejs %>

<article class="container">
  <h1>Produto cadastro com sucesso</h1>

  <ul>
    <li><strong>Título: </strong><%= livro.titulo %></li>
    <li><strong>Preço: </strong><%= livro.preco %></li>
    <li><strong>Descricao: </strong><%= livro.descricao %></li>
  </ul>
</article>

<% include ../includes/footer.ejs %>
